h1 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

ul > li {
  display: inline-block;
  padding: 5px 10px 10px;
  background-color: yellow;
  border: 1px dashed red;
}
body {
  background-color: blue;
  background-image: url(coolimage.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
